body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#logo {
    margin-bottom: 40px;
}

#logo img {
    width: 50px;
    height: 50px;
}

.sidebar-icon {
    margin: 20px 0;
    cursor: pointer;
}

.sidebar-icon img {
    width: 40px;  
    height: 40px; 
}

#map-container {
    position: relative;
    height: 100vh;
    width: calc(100% - 80px);
    margin-left: 80px;
}

gmp-map {
    height: 100vh; /* Use viewport height */
    width: 100%; /* Ensure it takes the full width of its container */
}

#search-bar-container {
    position: absolute;
    top: 10px;
    left: 200px; 
    width: 300px;
    z-index: 1001;
}

#search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

#profile-picture-container {
    position: absolute;
    top: 5px;
    right: 60px;
    z-index: 1001;
}

#profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.popup-content {
    display: none;
    left: calc(100% + 30px); 
    margin: 0;
    padding: 10px 15px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

#dropdown {
    position: absolute;
    display: none; 
    background-color: white;
    width: 320px;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
    top: 100%; 
    left: 0; 
    border-radius: 10px;
}

#popup {
    position: absolute;
    top: 40px; 
    width: 300px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); 
    background-color: white; 
    overflow: hidden; 
}

.popup-content h3 {
    margin: 0;
    width: 100%; 
    border: none; 
    top: 0; 
    left: 0; 
    z-index: 2;
    padding: 0; 
    border-radius: 10px;
}

.popup-content h4 {
    margin-top: 5px; 
}

#buddy-list {
    padding: 1px 1px;
}

.buddy-item {
    padding: 8px 0; 
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buddy-item:last-child {
    border-bottom: none;
}

.buddy-name {
    font-weight: bold;
}

.buddy-distance {
    color: #666;
}