@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.header {
    background: #D3EFFC;
    display: flex;
    flex-direction: row;
    height: 25%;
  }

.profile-image img {
    border-radius: 50%;
    height: 95%;
    padding-left: 5%;
}

.header-text {
    align-self: center;
    padding-left: 2%;
    width: 90%;
    font-family: "Inter";
}

.header-text h1 {
    margin-bottom: 1%;
    margin-top: 1%;
    padding-left: 2%;
}

.header-text p {
    margin-top: 1%;
    font-weight: 500;
    padding-left: 2%;
}

.header-text ul {
    width: 60%;
    list-style: none;
    display: flex;    
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

/* .header-text li {
} */

.container-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60%;
    padding-top: 5%;
}

.carpool-container {
    background: #D3EFFC;
    margin-left: 1%;
    width: 45%;
    font-family: "Inter";
    height: 135%;
}

.carpool-container h1 {
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.carpool-info {
    height: 25%;
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
}

.carpool-info img {
    height: 95%;
    padding-left: 4%;
    padding-top: 0%;
}

.carpool-text {
    padding-left: 2%;
    align-self: center;
}

.carpool-text p {
    margin-top: 0.5%;
}

.history-container {
    background: #D3EFFC;
    margin-left: 1%;
    width: 45%;
    height: 150%;
    font-family: "Inter";
}

.history-container h1 {
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.history-info {
    height: 30%;
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
}

.history-info img {
    height: 125%;
    padding-left: 4%;
    padding-top: 0;
    align-self: center;
}

.history-text {
    padding-left: 2%;
    align-self: center;
    margin-top: 1%;
    padding-right: 2%;
}

.history-text p {
    margin-top: 0%;
}

.button {
    border: none;
    background-color: #007BC3;
    color: white;
    border-radius: 1%;
    padding: 5% 10%;
    margin-left: 25%;
    font-family: 'Inter';
    font-weight: 900;
    font-size: medium;
}