/* body {
    font-family: 'Inter';
} */

.header {
    background: #D3EFFC;
    display: flex;
    flex-direction: row;
    height: 25%;
  }

.profile-image img {
    border-radius: 50%;
    height: 95%;
    padding-left: 5%;
}

.header-text {
    align-self: center;
    padding-left: 2%;
    width: 90%
}

.header-text h1 {
    margin-bottom: 1%;
    margin-top: 1%
}

.header-text p {
    margin-top: 1%;
}

.header-text ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.header-text li {
    display: inline-block;
    padding-right: 10%;
}

/* .header-text ul li {
    margin-right: 50%;
} */