<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDztlvY4RHQMezEoJthjWGVUvr_PUJ_ZWc&loading=async&libraries=maps,marker&v=beta" defer>
    </script>
</head>
<body>
    <div id="sidebar">
        <div id="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </div>
        <a href="{{ url_for('chat') }}" class="sidebar-icon" id="chat-icon">
            <img src="https://icons.veryicon.com/png/o/miscellaneous/forestry-in-yiliang/icon-chat.png" alt="Chat">
        </a>
        <div class="sidebar-icon" id="leaderboard-icon">
            <img src="https://www.svgrepo.com/show/487506/leaderboard.svg" alt="Leaderboard">
        </div>
        <a href="{{ url_for('profile') }}" class="sidebar-icon" id="profile-icon">
            <img src="https://www.svgrepo.com/show/157810/profile.svg" alt="Profile">
        </a>
    </div>
    <div id="map-container">
        <!-- Interactive Google Map -->
        <gmp-map
            center="40.737788195850996,-74.17235423956"
            zoom="16"
            map-id="DEMO_MAP_ID"
        >
        <gmp-advanced-marker
                position="40.73935,-74.17097"
                title="Prudential Tower"
            ></gmp-advanced-marker>
            <gmp-advanced-marker
                position="40.73778,-74.17429"
                title="Prudential Insurance Company of America - Washington Building"
            ></gmp-advanced-marker>
            <gmp-advanced-marker
                position="40.73680,-74.17167"
                title="Prudential Headquarters - Plaza Building"
            ></gmp-advanced-marker>
        </gmp-map>
        <div id="search-bar-container">
            <input type="text" id="search-bar" placeholder="Find carpool buddies nearby">
            <div id="dropdown" class="dropdown-content"></div>
            <div id="popup" class="popup-content">
                <div id="buddy-list"></div>
            </div>
        </div>
    </div>
    <a href="{{ url_for('profile') }}" id="profile-picture-container">
        <img src="https://news.prudential.com/files/images/executive/high_res/LowreyCharles_Bio.jpg" alt="Profile Picture" id="profile-picture">
    </a>
    <script src="{{ url_for('static', filename='css/landing.js') }}"></script>
</body>
</html>
