<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Lowrey Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/other-profile.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header">
        <div class="profile-image">
            <img src="https://news.prudential.com/files/images/executive/Charles-Lowrey.jpg"/>
        </div>
        <div class="header-text">
            <h1>
                Charles Lowrey
            </h1>
            <p>
                he/him/his
            </p>
            <ul>
                <l1><i class="fa fa-home"></i> Newark, NJ</l1>
                <l1><i class="fa fa-suitcase" aria-hidden="true"></i> Plaza</l1>
                <l1><i class="fa fa-building" aria-hidden="true"></i> Tues/Thurs</l1>
                <li><i class="fa fa-star" aria-hidden="true"></i> 444 Points</li>
            </ul>
        </div>
    </div>
    <div class="container-box">
    <div class="carpool-container">
        <h1>Carpool Info</h1>
        <div class="carpool-info">
            <img src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/10-512.png" />
            <div class="carpool-text">
                <p>
                    Start traveling from Newark by <b>7:30-8:00</b>
                </p>
                <p>
                    Leave Plaza by <b>5:30-6:00</b>
                </p>
            </div>
        </div>
        <div class="carpool-info">
            <img src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/10-512.png" />
            <div class="carpool-text">
                <p>
                    Start traveling from Newark by <b>7:30-8:00</b>
                </p>
                <p>
                    Leave Plaza by <b>5:30-6:00</b>
                </p>
            </div>
        </div>
        <button class="button">
            Message Charles
        </button>
    </div>

    <div class="history-container">
        <h1>Ride History</h1>
        <div class="history-info">
            <img src="https://cdn2.iconfinder.com/data/icons/rounded-set-1/512/Car-512.png" />
            <div class="history-text">
                <p>
                    Time: <b>09/22/2024 8:00-9:00AM</b>
                </p>
                <p>
                    People: <b>Darshana Rao, Stacy Goodman</b>
                </p>
                <p>
                    Points earned: <b>4</b>
                </p>
            </div>
        </div>
        <div class="history-info">
            <img src="https://cdn2.iconfinder.com/data/icons/rounded-set-1/512/Car-512.png" />
            <div class="history-text">
                <p>
                    Time: <b>09/22/2024 8:00-9:00AM</b>
                </p>
                <p>
                    People: <b>Darshana Rao, Stacy Goodman</b>
                </p>
                <p>
                    Points earned: <b>4</b>
                </p>
            </div>
        </div>
    </div>
</div>
</body>