<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Lowrey Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile1.css') }}">
</head>
<body>
    <div class="header">
        <div class="profile-image">
            <img src="https://news.prudential.com/files/images/executive/Charles-Lowrey.jpg"/>
        </div>
        <div class="header-text">
            <h1>
                Charles Lowrey
            </h1>
            <p>
                he/him/his
            </p>
            <ul>
                <l1>Newark, NJ</l1>
                <l1>Plaza</l1>
                <l1>Tues/Thurs</l1>
                <li>444 Points</li>
            </ul>
        </div>
    </div>
</body>